In [1]:
import pandas as pd
import numpy as np
from toolstack.text import TextPreprocessing, AutomatedTextPreprocessing, word_count
from toolstack.feature import LabelEncoder, CountEncoder, TargetEncoder

In [2]:
df = pd.read_csv('amazon-review-300.csv', header=-1)

In [3]:
df.head()

,0,1,2
0,2,Stuning even for the non-gamer,This sound track was beautiful! It paints the ...
1,2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
2,2,Amazing!,This soundtrack is my favorite music of all ti...
3,2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
4,2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."

In [4]:
df = word_count(df, 1).head()

In [5]:
df = df.append(df.head())

In [6]:
le = LabelEncoder(df, 'Words')

In [7]:
le.stack()

In [8]:
le.unstack()

     Words  Count
0        0      1
494      1      1
495      2      1
496      3      1
497      4      1
0        0      1
494      1      1
495      2      1
496      3      1
497      4      1

In [9]:
from toolstack.utils import load_dataset

In [10]:
load_dataset('Weather')['play'].value_counts().to_dict()

{'Yes': 9, 'No': 5}

In [11]:
df = load_dataset('Weather')

In [12]:
ce = CountEncoder(df, 'temp', False)

In [13]:
ce.stack()

In [14]:
np.log(5)

1.6094379124341003

In [15]:
np.log(9)

2.1972245773362196

In [16]:
ce.unstack()

    day   outlook  temp humidity    wind play
0    D1     Sunny     4     High    Weak   No
1    D2     Sunny     4     High  Strong   No
2    D3  Overcast     4     High    Weak  Yes
3    D4      Rain     6     High    Weak  Yes
4    D5      Rain     4   Normal    Weak  Yes
5    D6      Rain     4   Normal  Strong   No
6    D7  Overcast     4   Normal  Strong  Yes
7    D8     Sunny     6     High    Weak   No
8    D9     Sunny     4   Normal    Weak  Yes
9   D10      Rain     6   Normal    Weak  Yes
10  D11     Sunny     6   Normal  Strong  Yes
11  D12  Overcast     6     High  Strong  Yes
12  D13  Overcast     4   Normal    Weak  Yes
13  D14      Rain     6     High  Strong   No

In [17]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [18]:
te = TargetEncoder(df, 'day', 'play')

In [19]:
te.stack()

In [20]:
te.unstack()

    day   outlook  temp humidity    wind play
0     5     Sunny   Hot     High    Weak   No
1     5     Sunny   Hot     High  Strong   No
2     9  Overcast   Hot     High    Weak  Yes
3     9      Rain  Mild     High    Weak  Yes
4     9      Rain  Cool   Normal    Weak  Yes
5     5      Rain  Cool   Normal  Strong   No
6     9  Overcast  Cool   Normal  Strong  Yes
7     5     Sunny  Mild     High    Weak   No
8     9     Sunny  Cool   Normal    Weak  Yes
9     9      Rain  Mild   Normal    Weak  Yes
10    9     Sunny  Mild   Normal  Strong  Yes
11    9  Overcast  Mild     High  Strong  Yes
12    9  Overcast   Hot   Normal    Weak  Yes
13    5      Rain  Mild     High  Strong   No

In [21]:
df[df['outlook'] == 'Sunny']['play'].value_counts()

No     3
Yes    2
Name: play, dtype: int64

In [22]:
df['outlook'].unique().tolist()

['Sunny', 'Overcast', 'Rain']

In [23]:
len(df[(df['outlook'] == 'Sunny') & (df['play'] == 'No')]) / len(df[(df['outlook'] == 'Sunny')])

0.6

In [24]:
df[(df['outlook'] == 'Sunny')]

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [25]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [26]:
3/5

0.6

In [27]:
df = load_dataset('Weather')

In [28]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [29]:
te = TargetEncoder(df, 'temp', target='play', strategy='percentage')

In [30]:
te.stack()

In [31]:
te.unstack()

    day   outlook       temp humidity    wind play
0    D1     Sunny   0.142857     High    Weak   No
1    D2     Sunny   0.142857     High  Strong   No
2    D3  Overcast   0.142857     High    Weak  Yes
3    D4      Rain   0.285714     High    Weak  Yes
4    D5      Rain   0.214286   Normal    Weak  Yes
5    D6      Rain  0.0714286   Normal  Strong   No
6    D7  Overcast   0.214286   Normal  Strong  Yes
7    D8     Sunny   0.142857     High    Weak   No
8    D9     Sunny   0.214286   Normal    Weak  Yes
9   D10      Rain   0.285714   Normal    Weak  Yes
10  D11     Sunny   0.285714   Normal  Strong  Yes
11  D12  Overcast   0.285714     High  Strong  Yes
12  D13  Overcast   0.142857   Normal    Weak  Yes
13  D14      Rain   0.142857     High  Strong   No

In [32]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [33]:
# Get the unique variables

In [34]:
# Get the unique Classes

In [35]:
d = df.groupby(['outlook', 'play']).count()[df.columns[0]].to_dict()

In [36]:
df.loc[(df['play'] == 'No') &( df['outlook'] == 'Rain') , 'outlook'] = 2

In [37]:
d

{('Overcast', 'Yes'): 4,
 ('Rain', 'No'): 2,
 ('Rain', 'Yes'): 3,
 ('Sunny', 'No'): 3,
 ('Sunny', 'Yes'): 2}

In [38]:
df['sunny'].apply(lambda x: [i for i in d])

KeyError: 'sunny'